*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px; /* 1rem = 10px */
}
body{
  font-size: 1.6rem;
  font-family: roboto, sans-serif;
  background: #30C2FF;
}
a{
  text-decoration: none;
}
button{
  font-family: inherit;
  padding: 0;
  border: 1px solid;
  background: none;
  outline: none;
  cursor: pointer;
}