/* Resets */

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px; /* 1rem = 10px */
}
body{
  font-size: 1.6rem;
  font-family: roboto, sans-serif;
  background: #30C2FF;
  color: #FAFAFA;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
button{
  font-family: inherit;
  padding: 0;
  border: 1px solid;
  background: none;
  outline: none;
  cursor: pointer;
}

/* Header */

.header{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
}

/* Burger */

.burger{
  position: relative;
  display: flex;
  align-items: center;
  width: 1em;
  height: 1em;
  font-size: 1.5rem;
  cursor: pointer;
}

.burger__lines,
.burger__lines::after,
.burger__lines::before{
  width: 100%;
  height: .1em;
  background-color: rgba(245, 245, 245, 1);
  border-radius: .1em;
  transition: .2s .15s;
  opacity: 1;
}

.burger__lines::after,
.burger__lines::before{
  content: "";
  position: absolute;
  left: 0;
}

.burger__lines::after{
  transform: translateX(0) translateY(.45em);
}

.burger__lines::before{
  transform: translateX(0) translateY(-.45em);
}

.burger.burger--open .burger__lines{
  background-color: rgba(245, 245, 245, 0);
  transform: translateX(-1em);
}

.burger.burger--open .burger__lines::before{
  transform: translateX(1em) translateY(0) rotate(-45deg);
}

.burger.burger--open .burger__lines::after{
  transform: translateX(1em) translateY(0) rotate(45deg);
}

/* Navigation */

.navbtn{
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 .5rem;
  height: 3rem;
  font-size: 2.2rem;
  line-height: 2.4rem;
  color: inherit;
  border: 1px solid #FAFAFA;
  border-radius: .5rem;
}

.navbtn__text{
  padding-right: 1rem;
}

.nav{
  position: absolute;
  right: 0;
  top: 100%;
  min-width: 18rem;
  background-color: #fafafa;
  color: #000;
  transform: translateX(100%);
  transition: .5s;
  z-index: 9;
}

.nav--open{
  transform: translateX(0);
}

.nav__list{
  list-style: none;
  font-size: 1.6rem;
  line-height: 3rem;
}

.nav__item{
  display: block;
  padding: 0 1rem;
  color: inherit;
  border-top: 1px solid #30C2FF;
  transition: .2s
}

.nav__item--login{
  border: none;
  font-size: 2rem;
  line-height: 5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.nav__item:hover{
  background-color: rgba(48, 193, 255, 0.466);
}

/* Logo */

.logo{
  color: #000;
}

/* challange section */

.challange{
  text-align: center;
}

.challange__title{
  margin: 2rem 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.4rem;
}

.challange__subtitle{
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: normal;
}

.challange_skills{
  display: flex;
  margin: 1.5rem 1rem;
  background-color: red;
}

.challange_skill{
  flex-grow: 1;
  width: 33.333%;
  color: #000;
  background-color:#fafafa;
  padding-bottom: 2.8rem;
}

.challange_skill--colorless{
  flex-grow: 1;
  color: #fafafa;
  background-color: #30C2FF;
  border: 1px solid #fafafa
}

.challange__label-name{
  margin-top: 1rem;
  margin-bottom: .7rem;
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: normal;
}

.challange__label-container{
  position: relative;
  margin: 0 auto;
  width: 4.8rem;
  height: 4.8rem;
}

.challange__label-checkbox{
  position: relative;
  width: 4.8rem;
  height: 4.8rem;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.challange__label-redesigned-checkbox{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 4.8rem;
  height: 4.8rem;
  background-image: url("../assets2/checkbox-blue.svg");
  background-position: top center;
  background-repeat: no-repeat;
}

.challange_skill--colorless .challange__label-redesigned-checkbox{
  background-image: url("../assets2/checkbox-white.svg");
}

.challange__label-checkbox:not(:checked) + .challange__label-redesigned-checkbox{
  background-image: url("../assets2/checkbox-blue-unchecked.svg");
}

.challange_skill--colorless
.challange__label-checkbox:not(:checked) + .challange__label-redesigned-checkbox{
  background-image: url("../assets2/checkbox-white-unchecked.svg");
}

/* timer */

.timer{
  padding: 0 1rem;
}

.timer__text{
  font-size: 1.6rem;
  line-height: 1.8rem;
  text-align: left;
  text-decoration: underline;
}

.timer__counter{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 4.8rem;
  color: #000;
}