* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #83EB94 0%, #47D95E 100%);
    text-align: center;
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-size: 24px;
    font-weight: 100;
}

.header-image {
    width: 100%;
}
.header-heading {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 100;
    font-size: 30px;
}
.coming-soon-ribbon {
    display: none;
}

main span {
    display: block;
    margin-top: 10px;
    margin-bottom: 25px;
}

form {
    margin: 0 auto;
    display: inline-block;
    position: relative;
}

input {
    display: block;
}

.email-input {
    width: 250px;
    height: 48px;
    border-radius: 9px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #A0A0A0;
    font-weight: 300;
    border: none;
    text-indent: 10px;
}
.focus-message {
    position: absolute;
    top: -32px;
    font-size: 16px;
    display: none;
}
.email-input:invalid {
    border: 2px solid #FF3333;
}
.invalid-message {
    text-align: left;
    color: #ff0000;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    position: absolute;
    top: -32px;
    display: none;
}
.email-input:focus ~ .focus-message {
    display: block;
}
.email-input:focus:invalid ~ .focus-message {
    display: none;
}
.email-input:invalid ~ .invalid-message {
    display: block;
}
input.email-input:focus {
    outline: 0;
    border: 2px solid #5AAF65;
}
.submit-button {
    background: #0297EC;
    border-radius: 9px;
    border: none;
    width: 250px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 14.5px;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 10px;
}

.submit-button:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

footer {
    margin-top: 92px;
    margin-bottom: 10px;
    font-size: 16px;
}

.heart-icon {
    margin-right: 5px;
}

@media only screen and (min-width: 768px) {
    header {
        position: relative;
        margin-bottom: 50px;
    }

    .header-image {
        width: 50%;
    }

    .header-heading {
        font-size: 60px;
    }
    .newsletter-form {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    input {
        display: inline;
    }

    .email-input {
        margin-right: 36px;
    }

    .coming-soon-ribbon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    footer {
        margin-top: 100px;
        margin-bottom: 10px;
    }

}
