body {
    margin: 0px;
    color: whitesmoke;
    font-family: 'Lato', 'Courier New', Courier, monospace;
    min-height: 100%;
}

.container {
    text-align: center;
    background-image: linear-gradient(lightgreen 15%, green);
    min-height: 100vh;
}

.svg-section {
    position: relative;
}

.ribbon {
    position: absolute;
    top: 0px;
    right: 0px;
}

h1 {
    text-align: center;
    letter-spacing: 30px;
    font-size: 3rem;
    margin-top: -10px;
}

h3 {
    letter-spacing: 5px;
    font-size: 1.5rem;
}

.submit, #LandingEmail {
    height: 10vh;
    width: 300px;
    border-radius: 5px;
    font-family: 'Lato';
}

.form {
    box-sizing: border-box;
}

#LandingEmail {
    padding-left: 10px;
}

.submit {
    text-transform: uppercase;
    margin: 10px;
    height: 12vh;
    font-size: 1.2rem;
    border: none;
    color: white;
    background: rgb(14, 59, 156);
}

.submit:hover {
    box-shadow: darkslategrey 0px 3px 3px 3px;
}

.footnote {
    margin-bottom: -15px;
    font-size: 1rem;
}

@media only screen and (max-width: 800px) {
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 70px;
    }
    h1 {
        margin-left: 20px;
        font-size: 2rem;
        letter-spacing: 0px;
    }
    #LandingEmail {
        margin-bottom: 20px;
    }
    h3 {
        font-size: 1rem;
    }
    .footnote {
        font-size: 0.8rem;
        margin-bottom: 0px;
        line-height: 40%;
    }
    .ribbon {
        display: none;
    }
}