

body {
    margin: 0;
    padding: 0;
    font-family: Lato;
    background: linear-gradient(180deg, #83EB94 0%, #47D95E 100%);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto 0;
}
.header__img {
    width: 89.38%;
    max-width: 858px;
    filter: drop-shadow(0px 0px 0px rgba(46, 54, 51, 0.1));
}
.header__caption {
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 5px;
}
.header__ribbon {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
}
.email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.email-form__title {
    font-size: 18px;
    color: white;
    font-weight: 400;
}
.email-form__input {
    margin-top: 15px;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    width: 240px;
    padding: 15px 0 15px 10px;
    border: none;
    font-family: Lato;
}
.email-form__input::placeholder {
    font-weight: 300;
    color: #A0A0A0;
    font-size: 16px;
    line-height: normal;
}
.email-form__input:valid {
    outline: none;
    border: 2px inset #5AAF65;
    width: 240px;
    margin-top: 13px;
    margin-bottom: -21px;
}
#focusbar {
    font-size: 16px;
    color: white;
    align-self: flex-start;
    position: relative;
    bottom: 52px;
    left: 2px;
    display: none;
}
.email-form__input:valid ~ #focusbar {
    display: block;
}
.email-form__input:focus:invalid {
    outline: none;
    border: 2px inset #FF3333;
    width: 240px;
    margin-top: 13px;
    margin-bottom: -21px;
}
#errorbar {
    font-size: 16px;
    color: #FF3333;
    align-self: flex-start;
    position: relative;
    bottom: 52px;
    left: 2px;
    display: none;
}
.email-form__input:focus:invalid ~ #errorbar {
    display: block;
}
.email-form__button {
    background-color: #0297EC;
    border-radius: 9px;
    border: none;
    width: 250px;
    padding: 15px 0;
    margin-top: 17px;
    box-shadow: none;
    position: relative;
    bottom: 0;
    transition: 0.3s;
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
}

.footer {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}
.footer__line {
    margin: 0;
    line-height: 20px;
    font-size: 16px;
    color: white;
    font-weight: 300;
}
.footer__line:nth-child(3) {
    margin-bottom: 20px;
}
.footer__img-heart {
    max-width: 12px;
}

@media all and (min-width: 768px) {
    body {
        background: linear-gradient(90deg, #83EB94 0%, #47D95E 100%);
    }
    .header__caption {
        font-size: 60px;
    }
    .header__ribbon {
        display: block;
    }
    .email-form {
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: center;
    }
    .email-form__title {
        flex: 1 100%;
        text-align: center;
        font-size: 24px;
    }
    .email-form__input {
        margin-right: 28px;
        padding: 17px 0 16px 10px;
    }
    .email-form__input:valid {
        outline: none;
        border: 2px inset #5AAF65;
        width: 240px;
        margin-top: -4px;
        margin-right: -22px;
        padding-top: 15px;
        padding-left: 8px;
    }
    #focusbar {
        font-size: 16px;
        color: white;
        align-self: flex-start;
        position: relative;
        bottom: 7px;
        left: -227px;
    }
    .email-form__input:focus:invalid {
        outline: none;
        border: 2px inset #FF3333;
        width: 240px;
        margin-top: -4px;
        margin-right: -68px;
        padding-top: 15px;
        padding-left: 8px;
    }
    #errorbar {
        font-size: 16px;
        color: #FF3333;
        align-self: flex-start;
        position: relative;
        bottom: 7px;
        left: -180px;
    }
    .email-form__button:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        bottom: 5px;
    }
    .footer {
        margin-top: 287px;
    }
    .footer__line {
        font-size: 24px;
        line-height: 28px;
    }
    .footer__img-heart {
        max-width: 15px;
    }
}