/* Tablet+ */
body {
background: linear-gradient(90deg, #83EB94 0%, #47D95E 100%);
min-width: 768px;
margin: 4px;
display: block;
}

.container {
width: 768px;
height: 1024px;
margin-left: auto;
margin-right: auto;
}

/* coming-soon-ribbon */
.coming-soon {
position: absolute;
left: 83.85%;
right: 0%;
top: 0.1%;
bottom: 81.45%;

background: url(coming-soon-ribbon.png) no-repeat; 
}

/* Header */

header {
overflow: visible;
}

.header_image {
margin: 64 40.8 652 40.8;

}

h1 {
margin: 0%;
height: 100px;
width: 768px;

font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 300;
line-height: normal;
font-size: 60px;
text-align: center;
letter-spacing: 5px;

color: #FFFFFF;

mix-blend-mode: normal;
}

/* Form */

form {
left: 0.52%;
right: -0.52%;
top: 45.8%;
bottom: 34.95%;
}

/* Form Title */

p {
left: 0%;
right: 0%;
top: 0%;
bottom: 75.03%;

font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
text-align: center;

color: #FFFFFF;
}

/* Input-email */

input {

left: 15.62%;
right: 51.82%;
top: 33.48%;
bottom: 42.17%;

box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input:rect {
left: 0%;
right: 0%;
top: 2.13%;
bottom: -0.09%;

background: #FFFFFF;
border-radius: 9px;
}

/* E-mail */

input:placeholder {
left: 0%;
right: 0%;
top: 0%;
bottom: 2.04%;

font-family: 'Lato';
font-style: normal;
font-weight: 300;
line-height: normal;
font-size: 16px;
text-indent: 10px;

color: #A0A0A0;
}


/* Button */
button {
cursor: pointer;

left: 51.82%;
right: 15.62%;
top: 33.48%;
bottom: 42.17%;

background: #0297EC;
border-radius: 9px;
}

/* GET EARLY ACCESS */

button p{
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: 'Lato';
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 16px;
text-align: center;

color: #FFFFFF;
}


/* Footer */
footer {
left: 0.52%;
right: -0.52%;
top: 84.96%;
bottom: 0.39%;
clear: both;
}

footer:Rectangle {
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
}

/* User © 2019. */
.user {
left: 0%;
right: 0%;
top: 33.33%;
bottom: 48%;

font-family: 'Lato';
font-style: normal;
font-weight: normal;
line-height: 28px;
font-size: 24px;
text-align: center;
text-indent: 10px;

color: #FFFFFF;
}
/* Made with in Poland */

svg {
width: 24px;
height: 20px;
margin: 956 387 48 357;
padding: 3px;

background: url(../Academy/assets/love.png) no-repeat;
}


.made {
left: 0%;
right: 0%;
top: 54%;
bottom: 27.33%;

font-family: 'Lato';
font-style: normal;
font-weight: normal;
line-height: 28px;
font-size: 24px;
text-align: center;
text-indent: 10px;

color: #FFFFFF;
}

/* We're using cookies to improve your experience. */
.cookies {
left: 0%;
right: 0%;
top: 73.33%;
bottom: 8%;

font-family: 'Lato';
font-style: normal;
font-weight: normal;
line-height: 28px;
font-size: 24px;
text-align: center;
text-indent: 10px;

color: #FFFFFF;
}

