* {
box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.coming-soon{
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, #83EB94 0%, #47D95E 100%);
    color: white;

    font-family: 'Lato';
    line-height: normal;
    text-align: center;
    mix-blend-mode: normal;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo__title{
    font-weight: 100;
    font-size: 60px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.logo__image{
    width: 100%;
    object-fit: cover;
}

.main__title{
    font-weight: normal;
    font-size: 24px;
}

.form{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.form__label{
    color: #FF3333;
    text-align: left;
    height: 1.1em;
    visibility: hidden;
}

.form__column{
    display: flex;
    flex-direction: column-reverse;
}

.form__input{
    border-radius: 9px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-weight: 300;
    font-size: 16px;
    text-indent: 10px;
    color: #A0A0A0;

    width: 250px;
    height: 48px;
    margin-right: 50px;
    transition: 0.1s;
}

.form__input:focus{
    border: 2px solid #5AAF65;
}

.form__input:focus:invalid{
    border: 2px solid #FF3333;
}

.form__input:focus:invalid + .form__label{
    visibility: visible;
}

.form__submit{
    background: #0297EC;
    border-radius: 9px;

    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border-color: transparent;

    color: #FFFFFF;
    width: 250px;
    height: 48px;

    transition: 0.3s;
}

.form__submit:hover{
    border-color: initial;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.footer{
    text-align: center;
    font-size: 24px;
}

.footer__paragraph{
    margin: 0;
}