@media all and (max-width: 500px){

    .container__coming-soon{
        display: none;
    }

    .header h1{
        font-size: 30px;
    }

    .main__form form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main__form__input{
        margin: 0;
        margin-bottom: 10px;
    }

    .footer{
        font-size: 16px;
    }
}

@media all and (max-height: 500px){
    .header figure{
        display: none;
    }
}